<div class="container-fluid">
    <h3 class="text-center">Create a new Quote</h3>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name"  #Name='ngModel' required>
        </div>
        <div class="form-group">
  
            <label for="author">author</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #Author='ngModel' required>

        </div>
        <div class="form-group">

            <label for="quote">Quotes</label>
            <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
            
        </div>

       
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>